html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  margin: 0; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

small, .font_small {
  font-size: 0.75em; }

.content-main {
  /* position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%; }

.content-main:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(../img/background.jpg) no-repeat 100% 85% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  /* Keep the background behind the content */
  /* don't forget to use the prefixes you need */
  -webkit-filter: grayscale(1);
  filter: grayscale(1); }

.content-main section {
  height: 100vh; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.logo h1 {
  font-size: 2.5em;
  font-weight: bold;
  background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Monoton', cursive;
  margin: 0px; }

.menu-abrir,
.menu-fechar {
  background: none;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-size: 1.6em;
  text-indent: -999; }

.menu-abrir {
  height: 0;
  width: 1em;
  padding-top: .125em;
  border-top: 0.355em double #fff;
  border-bottom: 0.125em solid #fff;
  vertical-align: middle;
  margin: 0.5em; }

.menu-fechar {
  position: relative;
  height: 1em;
  width: 1em; }

.menu-fechar:before {
  content: '\00D7';
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0; }

.social-icons a img {
  width: 70px;
  height: 70px; }

.gitlab {
  width: 50px;
  height: 50px; }

.menu ul {
  font-size: 1.1em; }

.menu ul li {
  text-transform: lowercase; }

.about {
  margin-bottom: 4em; }

.projects {
  background: #8d6bbc;
  position: relative; }

.projects:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 100%;
  height: 0;
  width: 0;
  border-color: transparent transparent #8d6bbc;
  border-style: solid;
  border-width: 0 0 6vw 100vw; }

.projects:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-color: transparent transparent #8d6bbc;
  border-style: solid;
  border-width: 0 0 6vw 100vw;
  transform: rotate(180deg); }

/*
.call-to-action h2 {
  font-size: 1.3em;
  transform: rotate(-3deg) skew(-6deg);
  color: $cor-preta;
  background-color: #fff;
  padding: 0.6em;
  text-align: center;
  font-weight: 900;
  box-shadow: 5px 5px $cor-preta;
  margin-bottom: .6em;
}

.call-to-action h3 {
  font-size: 1.3em;
  color: $cor-branca;
  font-weight: normal;
  text-align: center;
}*/
.btn-download-cv {
  text-decoration: none;
  padding: .6em;
  font-size: 1.5em;
  text-align: center;
  color: #020F1B;
  /*
    background-color: $color-primary-4;
    border-radius: 25%;
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
    */ }

/*
.btn-download-cv:hover{
  box-shadow:
  1px 1px $color-primary-1,
  2px 2px $color-primary-1,
  3px 3px $color-primary-1;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
*/
.bounce {
  position: absolute;
  height: 3em;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite; }

footer {
  background: #452362; }

.gitlab {
  border-radius: 50%;
  background: #8c4fad; }

.bounce:before {
  bottom: 4em;
  content: '';
  position: absolute;
  left: -1.5em;
  width: 2em;
  height: 2em;
  border-top: solid 3px #fff;
  border-right: solid 3px #fff;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg); }

@-webkit-keyframes bounce {
  0% {
    bottom: 5px; }
  25%, 75% {
    bottom: 15px; }
  50% {
    bottom: 20px; }
  100% {
    bottom: 0; } }
@media not all and (max-width: 600px) {
  .menu-abrir,
  .menu-fechar {
    display: none; } }
@media (max-width: 600px) {
  .barra-nav {
    background: #f0f0f0;
    /* padding: 1em; */
    margin: 0;
    height: 100%;
    width: 90%;
    max-width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;
    transition: left 0.3s ease-out; }

  .menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-left: 1em;
    padding-right: 1em; }

  .menu-ativo .barra-nav {
    left: 0; }

  .menu-principal li {
    padding: 1em 0;
    width: 100%; }

  .menu-ativo:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); }

  .call-to-action {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center; }

  .call-to-action .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .bounce:before {
    bottom: 0em; } }
@media (min-width: 765px) {
  body {
    font-size: 1em; }

  .container {
    max-width: 1000px; }

  nav {
    height: 20%; }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center; }

  .menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around; }

  .menu ul li {
    padding: .6em; }

  .menu ul li a {
    text-decoration: none;
    color: #fff;
    flex-grow: 1; }

  /* ESTILIZANDO CALLTOACTION*/
  .call-to-action {
    display: flex;
    align-items: center;
    height: 65%; }

  .call-to-action h2 {
    font-family: 'Archivo Black', sans-serif;
    background: #7028e4;
    padding: .2em;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase; }

  .call-to-action h3 {
    font-family: 'Tenor Sans', sans-serif;
    margin-top: 0;
    color: #fff; }

  .call-to-action .container {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .container-article {
    display: flex;
    align-items: center;
    justify-content: space-between; }

  .header-article {
    display: flex;
    justify-content: center;
    align-items: center; }

  .header-article img {
    width: 80px;
    height: 80x;
    padding: 1.5em;
    margin: 1em 0 0 0; }

  .avatar {
    margin: 2em; }

  .avatar img {
    width: 250px;
    height: 250px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0, 0, 0, 0.2); }

  .about-text {
    padding: 2em; }

  .about-text p {
    text-indent: 2em; }

  .list-project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em; }

  .project {
    width: 20%;
    height: 200px;
    background: #535353;
    margin: 1em; } }

/*# sourceMappingURL=estilo.css.map */
