
//Cores utilizadas no projeto
$cor-branca: #fff;
$cor-preta: #000;
$cor-azul: #7028e4;
$cor-preta-opacidade: rgba(0, 0, 0, 0.1);
$cor-preta-opacidade-escura: rgba(0,0,0,.7);
$cor-cinza: gray;
$cor-cinza-opacidade: rgba(105,105,105,.17);
$cor-amarela-ouro: #c0df1d;
$cor-roxo-escuro: #452362;
$cor-roxo-medio: #622c85;
$cor-roxo-claro: #8d6bbc;
$cor-roxo-mais-claro: #8c4fad;
$gradient-logo: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
$sombra-avatar: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);

//Estilo do logo
@mixin mylogo {
  font-weight: bold;
  background-image: $gradient-logo;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Monoton', cursive;
}

//Borda Redonda (Avatar)
@mixin borda-redonda {
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
}

//Sombras
@mixin sombra($valor) {
  -webkit-box-shadow: $valor;
  -moz-box-shadow:  $valor;
  box-shadow: $valor;
}

//Transições do site
@mixin transicao($valor){
  -webkit-transition: $valor;
  -moz-transition: $valor;
  -o-transition: $valor;
  transition: $valor;
}

html {font-size: 1em;}

body {
  background-color: $cor-branca;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $cor-preta;
  margin: 0;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;    
}


.content-main {
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  
  &:before{
    content: "";
    position: absolute;
    height: 100%; width: 100%;
    background: url(../img/background.jpg) no-repeat 100% 85% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  section{
    height: 100vh;
  }
}

.menuFixo{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  @include sombra(0px 1px 24px 0px rgba(50, 50, 50, 0.75));
  @include transicao(all 0.4s ease);
  background: $cor-branca;
  z-index: 999999999;

  .menu a {
    color: $cor-roxo-medio;
 }
}

a.active{
  background: $cor-preta-opacidade;
}

.logo h1{
  font-size: 2.5em;
  margin: 0px;
  @include mylogo;
}


.menu-abrir,
.menu-fechar{
  background: none;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-size: 1.6em;
  text-indent: -999;
}

.menu-abrir{
  height: 0;
  width: 1em;
  padding-top: .125em;
  border-top: .355em double $cor-branca;
  border-bottom: .125em solid $cor-branca;
  vertical-align: middle;
  margin: 0.5em;
}

.menu-fechar{
  position: relative;
  height: 1em;
  width: 1em;

  &:before{
    content: '\00D7';
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0;
  }
}


.menu ul {
  font-size: 1.1em;

  li {
    text-transform: lowercase;
  }
}

.bounce {    
  position: absolute;
  height: 3em;
  -webkit-animation:bounce 1s infinite;
  animation: bounce 1s infinite;

  &:before{
    bottom: 4em;
    content: '';
    position: absolute;
    left: -1.5em;
    width: 2em;
    height: 2em;
    border-top: solid 3px $cor-branca;
    border-right: solid 3px $cor-branca;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}

.about {
  margin-bottom: 4em;
}


.projects{
  background: $cor-roxo-claro;
  position: relative;
  padding: 3em 0 7em 0;

  &:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    height: 0;
    width: 0;
    border-color: transparent transparent $cor-roxo-claro;
    border-style: solid;
    border-width: 0 0 6vw 98.7vw;
  }
  
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    height: 0;
    width: 0;
    border-color: transparent transparent $cor-roxo-claro;
    border-style: solid;
    border-width: 0 0 6vw 98.7vw;
    transform: rotate(180deg);
  }
}

.see-more{
  display: flex;
  justify-content: flex-end;

  a{
    text-align: right;
    font-weight: 600;
    text-decoration: none;
  }
}


.blog{
  margin-top: 6em;
  margin-bottom: 3em;
}

.title-post{
  color: $cor-roxo-medio;
  font-size: 1.5em;
  font-weight: 600;
}

.post{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em 0 1em 0;
  width: 100%;

  a {
    text-decoration: none;
    color: $cor-preta;
    width: 100%;
    padding: 2em 0 2em 0;
    @include transicao(0.3s ease-in);

    &:hover{
      background: $cor-cinza-opacidade;
      border-left: solid $cor-roxo-medio;
      padding-left: .5em;
    }
  }

  span{
    font-size: .8em;
    color: $cor-cinza;
  }
  
   h4 {
    font-weight: 500;
    margin: 0;
  }

  p {
    margin: 0;
    font-weight: 300;
    color: $cor-cinza;
  }
}


.tags {
  display: flex;
  justify-content: flex-start;
}

.tag{
  background: $cor-amarela-ouro;
  color: $cor-branca;
  text-align: center;
  padding: 0 1em 0 1em;
  margin: 0.1em .5em .1em 0;
}

#contato{
  background: $cor-roxo-escuro;
  height: 400px;
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6em;
  padding-bottom: 2em;

  a {
    padding: .5em;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.gitlab {
  width: 50px ;
  height: 50px;
  @include borda-redonda;
  background: $cor-roxo-mais-claro;
}


.copyright{
  display: flex;
  color: #fff;
  justify-content: center;
  padding: 1em;
  font-weight: 500;

  strong {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.heart-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.heart-solid.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -1px;
  width: 8px;
  height: 5px;
  border-radius: 5px 5px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  background-color: currentColor;
}

.heart-solid.icon:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 8px;
  width: 5px;
  height: 8px;
  border-radius: 0 5px 5px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
}









//MEDIA QUERY APENAS QUANDO ESTIVER NO DESKTOP
//ACIMA DE 600PX 
@media not all and (max-width: 600px) {
  .menu-abrir,
  .menu-fechar {
    display: none;
  }
}


//MEDIA QUERY QUANDO RESOLUÇÃO FOR ABAIXO DE 600PX
//OU SEJA MOBILE
@media(max-width: 600px){
  .barra-nav{
    background: #f0f0f0;
    margin: 0;
    height: 100%;
    width: 90%;
    max-width: 320px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -90%;
    @include transicao(left 0.3s ease-out);
  }

  .menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-left: 1em;
    padding-right: 1em;
  }

  .menu-ativo .barra-nav{
    left: 0;
  }

  .menu-ativo:after{
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .menu-principal li{
    padding: 1em 0;
    width: 100%;
  }

  .call-to-action{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;;

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .bounce:before {
    bottom: 0em;
  }

}


//MEDIA QUERY QUANDO RESOLUÇÃO ESTIVER ACIMA DE
//765PX, OU SEJA APENAS DESKTOP
@media(min-width: 765px) {

  body{
    font-size: 1em;
  }
  
  nav{
    height: 20%;
  }

  .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul{
      display: flex;
      list-style-type: none;
      justify-content: space-around;

      li a {
        text-decoration: none;
        color: $cor-branca;
        flex-grow: 1;
        padding: .6em 1em .6em 1em;

        &:hover{
          background: $cor-preta-opacidade;
        }
      }

      
    }
  }

 .call-to-action{
    display: flex;
    align-items: center;
    height: 80%;

    .container{
      display: flex;
      flex-direction: column;
      align-items:center;
    }

    h2 {
      font-family: 'Archivo Black', sans-serif;
      background: $cor-azul;
      padding: .2em;
      color: $cor-branca;
      font-size: 2em;
      text-transform: uppercase;
    }

    h3{
      font-family: 'Tenor Sans', sans-serif;
      margin-top: 0;
      color: $cor-branca;
    }
  }


  .container-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;

    img{
      width: 80px;
      height: 80x;
      padding: 1.5em;
      margin: 2.5em 0 0 0;
    }
  }


  .avatar{
    margin: 2em;

    img {
      width: 250px;
      height: 250px;
      @include borda-redonda;
      @include sombra($sombra-avatar);
    }
  }



  .about-text{
    padding: 2em;

    p {
      text-indent: 2em;
    }
  }


  .list-project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
  }

  .project {
    position: relative;
    display: flex;
    margin: .5em;

    a {
      @include transicao(0.5s ease-in);
      width: 250px;
      height: 250px;

      &:hover{
       filter: brightness(20%)
      }

      h3{
        margin: 0;
        padding: .5em;
        font-size: 1em;
        text-transform: uppercase;
      }

      img{
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }

  .title-project {
    /* float: left; */
    position: absolute;
    left: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    bottom: 0;
    bottom: 0;
    z-index: 1000;
    height: 80px;
    background-color: $cor-preta-opacidade-escura;
    /* padding: 5px; */
    color: $cor-branca;
    /* font-weight: bold; */
  }
}

