/*
Errno::ENOENT: No such file or directory @ rb_sysopen - estilo.scss

Backtrace:
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:484:in `read'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/plugin.rb:109:in `method_missing'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/root/.gem/ruby/2.4.0/gems/sass-3.4.23/bin/sass:13:in `<top (required)>'
/root/.gem/ruby/2.4.0/bin/sass:22:in `load'
/root/.gem/ruby/2.4.0/bin/sass:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - estilo.scss"; }
