/* MIXINS */

@import "compass/css3";
@import "compass/utilities";


//Logo
@mixin mylogo {
  font-weight: bold;
  background-image: $gradient-logo;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Monoton', cursive;
}

//Transições do site
@mixin transicao($valor){
  -webkit-transition: $valor;
  -moz-transition: $valor;
  -o-transition: $valor;
  transition: $valor;
}

