/*VARIAVEIS*/


//Colors
$cor-branca: #fff;
$cor-preta: #000;
$cor-azul: #7028e4;
$cor-preta-opacidade: rgba(0, 0, 0, 0.1);
$cor-preta-opacidade-escura: rgba(0,0,0,.7);
$cor-cinza: gray;
$cor-cinza-opacidade: rgba(105,105,105,.17);
$cor-amarela-ouro: #c0df1d;
$cor-roxo-escuro: #452362;
$cor-roxo-medio: #622c85;
$cor-roxo-claro: #8d6bbc;
$cor-roxo-mais-claro: #8c4fad;
$gradient-logo: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
$sombra-avatar: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);