/* SEÇÃO FOOTER*/


@include all-sprite-sprites;

.sprite-contact_icon_email, .sprite-contact_icon_github, .sprite-contact_icon_gitlab, .sprite-contact_icon_linkedin, .sprite-contact_icon_twitter, .sprite-contact_icon_facebook {
  width: 50px;
  height: 50px;
}

#contato{
  background: $cor-roxo-escuro;
  height: 128px;
  @media #{$mq-desktop}{
    height: 300px;
  }
}

.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  
      padding-top: 1em;
      @media #{$mq-desktop}{
        padding-top: 6em;
  padding-bottom: 2em;
      }


  a {
    padding-left: .3em;
    padding-right: .3em;
  }

}



.copyright{
  display: flex;
  color: #fff;
  justify-content: center;
  padding: 1em;
  font-weight: 500;

  span{
    font-size: .9em;
  }

  strong {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.heart-solid.icon {
  color: #000;
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
  width: 9px;
  height: 9px;
  border-left: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.heart-solid.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -1px;
  width: 8px;
  height: 5px;
  border-radius: 5px 5px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  background-color: currentColor;
}

.heart-solid.icon:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 8px;
  width: 5px;
  height: 8px;
  border-radius: 0 5px 5px 0;
  border-top: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  background-color: currentColor;
}