/* SEÇÃO BLOG */




.blog{
      margin-top: 1.5em;
  margin-bottom: 3em;

  @media #{$mq-desktop}{
    margin-top: 6em;
  }
}

@media #{$mq-desktop}{
  .container-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .post a {
    text-decoration: none;
    color: $cor-preta;
    width: 100%;
    padding: 2em 0 2em 0;
    @include transicao(0.3s ease-in);

    &:hover{
      background: $cor-cinza-opacidade;
      border-left: solid $cor-roxo-medio;
      padding-left: .5em;
    }
  }
}


.list-posts{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    @media #{$mq-desktop}{
      display: flex;
    flex-direction: row;
    justify-content: flex-start;

    }
}

.sprite-compose_page_blog-mobile{
  display: block;
  width:50px;
  height:50px;

  @media #{$mq-desktop}{
    display: none;
  }
}


.sprite-compose_page_blog{
  display: none;

  @media #{$mq-desktop}{
   width: 128px;
   height: 128px;
   display: block;
 }
}



.title-post{
  color: $cor-roxo-medio;
  font-weight: 600;
      margin: 0;
    text-align: center;
}

.post{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1em 0 1em 0;
  width: 100%;
  a{

      text-decoration: none;
  }



  span{
    font-size: .8em;
    color: $cor-cinza;
  }
  
  h4 {
    font-weight: 500;
    margin: 0;
    font-size: 1.1em;
    @media #{$mq-desktop}{

    font-size: 1.333em;
    }
  }

  p {
    margin: 0;
    font-weight: 300;
    color: $cor-cinza;
  }
}


.tags {
  display: flex;
  justify-content: flex-start;
}

.tag{
  background: $cor-amarela-ouro;
  color: $cor-branca;
  text-align: center;
  padding: 0 1em 0 1em;
  margin: 0.1em .5em .1em 0;
}
