
/* PÁGINA BOAS VINDAS (HOME) */
.content-main {
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100%;
  
  &:before{
    content: "";
    position: absolute;
    height: 100%; width: 100%;
    background: url(../img/background.jpg) no-repeat 100% 85% fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    background-position-x: -176px;

    @media #{$mq-desktop}{
      background-position-x: 0px;
    }
  }



  section{
    height: 100vh;
  }
}


@media #{$mq-smartphone}{

  .call-to-action{
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;;

    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}




    .call-to-action{
      display: flex;
      align-items: center;
      height: 40%;

       .container{
      display: flex;
      flex-direction: column;
      align-items:center;
    }

    h2 {
      font-family: 'Archivo Black', sans-serif;
      background: $cor-roxo-escuro;
      padding: .2em;
      color: $cor-branca;
      font-size: 2em;
      text-transform: uppercase;
      margin-bottom: 0;

      @media #{$mq-smartphone-small}{
        font-size: 1.5em;
      }
    }

    h3{
      font-family: 'Tenor Sans', sans-serif;
      margin-top: 0;
      color: $cor-branca;
      text-align: right;
      margin-right: .8em;
    }

      @media #{$mq-desktop}{
        height: 80%;

        h2{
          margin-bottom: .5em;
        }
      }

   
  }


.bounce:before {
  bottom: 0em;
}

.bounce {    
  position: absolute;
  height: 3em;
  -webkit-animation:bounce 1s infinite;
  animation: bounce 1s infinite;

  &:before{
    bottom: 4em;
    content: '';
    position: absolute;
    left: -1.5em;
    width: 2em;
    height: 2em;
    border-top: solid 3px $cor-branca;
    border-right: solid 3px $cor-branca;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@-webkit-keyframes bounce {
  0%       { bottom:5px; }
  25%, 75% { bottom:15px; }
  50%      { bottom:20px; }
  100%     {bottom:0;}
}
