/* SEÇÃO SOBRE*/


#about{
	margin-top: 2em;
 margin-bottom: 1em;
}

@media #{$mq-desktop}{
  .avatar{
    margin: 2em;

    
  }
}

.avatar img {
      width: 250px;
      height: 250px;
      @include border-radius(50%);
      @include box-shadow(#333 2px 2px 10px);
    
    }

.about {
  margin-bottom: 4em;
}